body{
    background-color: black;
    text-align: center;
    color: white;
}
footer{
    bottom: 0;
    position: fixed;
}
#container {
    display: flex
}
.cartao{
    background-color:#9E4951;
    margin: auto;
}